<div class="home-page-card-div">

  <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
    <div class="card-header">ධාරා විද්‍යුතය</div>
    <div class="card-body">

      <ul>
        <li><a routerLink="/electrical/page1"> ඕම් නියමය
        </a>
        </li>
        <li><a routerLink="/electrical/page5"> විද්‍යුත් ශක්තිය හා ක්ෂමතාවය
        </a>
        </li>
        <li><a routerLink="/electrical/page6"> කර්චොප් නියම
        </a>
        </li>
        <li><a routerLink="/electrical/page7"> ගැල්වනෝ මීටරය, වෝල්ට්මීටරය, ඇමීටරය,ඕම් මීටරය
        </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
    <div class="card-header">පදාර්ථයේ යාන්ත්‍රික ගුණ</div>
    <div class="card-body">

      <ul>
        <li><a routerLink="/mechanicalProperties/page1">ප්‍රත්‍යස්ථතාවය
        </a>
        </li>

      </ul>
    </div>
  </div>


</div>
