<div class="home-page-card-div">

  <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
    <div class="card-header">දෝලන හා තරංග</div>
    <div class="card-body">

      <ul>
        <li><a routerLink="/light/page1">සරල අනුවර්තීය චලිතය(සරල අවලම්බය)</a>
        </li>
        <li><a routerLink="/light/page2">සරල අනුවර්තීය චලිතය(හෙලික්සීය දුනු)</a>
        </li>
        <li><a routerLink="/light/page4">ඇදි තන්තුවක තීර්යක් තරංග ප්‍රවේගය සහ කම්පන රටා</a>
        </li>
        <li><a routerLink="/light/page5">වායු තුළ අන්වායාම තරංග ප්‍රවේගය සහ කම්පන රටා</a>
        </li>
        <li><a routerLink="/light/page6">ඩොප්ලර් ආචරණය</a>
        </li>
        <li><a routerLink="/light/page7">ධ්වනි තීව්‍රතාවය හා ධ්වනි තීව්‍රතා මට්ටම</a>
        </li>
        <li><a routerLink="/light/page8">වර්තනය</a>
        </li>
        <li><a routerLink="/light/page9">ප්‍රිස්ම තුලින් වර්තනය</a>
        </li>
        <li><a routerLink="/light/page10">කාච සූත්‍රය හා කාචයක බලය</a>
        </li>
        <li><a routerLink="/light/page11">අක්ෂි දෝෂ</a>
        </li>
        <li><a routerLink="/light/page12">සරල අන්වීක්ෂ</a>
        </li>
        <li><a routerLink="/light/page13">සංයුක්ත අන්වීක්ෂ</a>
        </li>
        <li><a routerLink="/light/page14"> දුරේක්ෂය</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
    <div class="card-header">යාන්ත්‍ර විද්‍යාව</div>
    <div class="card-body">

      <ul>
        <li><a routerLink="/mechanics/page1"> ප්‍රවේග කාල ප්‍රස්ථාර ආශ්‍රිත ගැටලු
        </a>
        </li>
        <li><a routerLink="/mechanics/page2"> බර්නූලි මූලධර්මය ආශ්‍රිත ගැටලු
        </a>
        </li>
      </ul>
    </div>
  </div>


</div>
