<div class="row">
  <div class="col-md-12 topic-div">
    <h3>
      <b>
        කර්චොප් නියම
      </b>
    </h3>
  </div>
</div>
<div class="home-page-div ">
  <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-12">
      <div class="iframe-content-div">
        <iframe width="727" height="409" src="https://www.youtube.com/embed/WLNzt5lWddw" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>

      </div>
      <label>kirchhoff නීතිය - question 1</label>

    </div>


  </div>
</div>
