<div class="row">
  <div class="col-md-12 topic-div">
    <h3>
      <b>
        ගවුස් ප්‍රමේයය
      </b>
    </h3>
  </div>
</div>
<div class="home-page-div ">

  <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-12">
      <div class="iframe-content-div">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/yOv4xxopQFQ" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
      </div>
      <label>1 Electric Flux and Gauss’s Law</label>

    </div>
    <div class="col-lg-3 col-md-4 col-sm-12">
      <div class="iframe-content-div">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/QNIJC1emss8" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>

      </div>
      <label>2 Gauss's Law Basics</label>

    </div>
    <div class="col-lg-3 col-md-4 col-sm-12">
      <div class="iframe-content-div">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/Cg-02XTid9M" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>

      </div>
      <label>3 Gauss Theorem Proof

      </label>

    </div>
    <div class="col-lg-3 col-md-4 col-sm-12">
      <div class="iframe-content-div">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/UbGd-vTrZlc" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
      </div>
      <label>4 Gauss Law</label>

    </div>

  </div>
</div>
