<div class="row">
  <div class="col-md-12"><h2> Item Details</h2></div>
  <div class="col-md-4">
    <img src="../../../assets/2.jpg" class="card-img-top" alt="..." width="280px" height="320px">
    <div class=" col-md-12 product-more-images-box">
      <div class="row">
        <div class="col-md-2 product-more-images-box product-more-images-box-margin">
          <img src="../../../assets/2.jpg" class="card-img-top" alt="...">
        </div>
        <div class="col-md-2 product-more-images-box product-more-images-box-margin">
          <img src="../../../assets/2.jpg" class="card-img-top" alt="...">
        </div>
        <div class="col-md-2 product-more-images-box product-more-images-box-margin">
          <img src="../../../assets/2.jpg" class="card-img-top" alt="...">
        </div>
        <div class="col-md-2 product-more-images-box product-more-images-box-margin">
          <img src="../../../assets/2.jpg" class="card-img-top" alt="...">
        </div>
        <div class="col-md-2 product-more-images-box product-more-images-box-margin">
          <img src="../../../assets/2.jpg" class="card-img-top" alt="...">
        </div>
        <div class="col-md-2 product-more-images-box product-more-images-box-margin">
          <img src="../../../assets/2.jpg" class="card-img-top" alt="...">
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <p>Your pick</p>
    <p>$169.88
      + $101.00 Addl. Costs</p>
    <p>Get it by Fri, Jan 10 - Wed, Jan 15 from Long Beach, California</p>
    <ul>
      <li>New condition</li>
      <li>No returns, but backed by eBay Money back guarantee</li>
    </ul>

    <a class="product-see-details">See details</a>
  </div>
  <div class="col-md-4">
    <!--<button type="button" class="btn btn-primary btn-lg btn-block">QTY</button>-->
    <div class="form-group">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-2">QTY</div>
            <div class="col-md-10">
              <input type="number" class="form-control" aria-describedby="emailHelp" placeholder="Qty">
            </div>
          </div>
        </div>
      </div>

    </div>
    <button type="button" class="btn btn-primary btn-lg btn-block">Buy It Now</button>
    <button type="button" class="btn btn-secondary btn-lg btn-block" routerLink="/cartItems">Add To Cart</button>
  </div>

  <div class="col-md-12">
    <br>
  </div>
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-4">
        <p>About this product</p>
        <p>Product Identifiers</p>
        <p>Product Key Features</p>
        <p>Dimensions</p>
      </div>
      <div class="col-md-4">
        <p>About this product</p>
        <p>Product Identifiers</p>
        <p>Product Key Features</p>
        <p>Dimensions</p>
      </div>
      <div class="col-md-4"></div>
    </div>

  </div>
</div>
