<div class="row">
  <div class="col-md-12 topic-div">
    <h3>
      <b>
        මිනුම් උපකරණ සිද්ධාන්ත
      </b>
    </h3>
  </div>
</div>
<div class="home-page-div ">
  <!--<app-temparary-content></app-temparary-content>-->

  <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-12">
      <div class="iframe-content-div">
        <iframe width="1109" height="525" src="https://www.youtube.com/embed/TN0eMQ979zg" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>

      </div>
      <label>1. වනියර් කැලිපරය</label>

    </div>

    <div class="col-lg-3 col-md-4 col-sm-12">
      <div class="iframe-content-div">
        <iframe width="1109" height="525" src="https://www.youtube.com/embed/AGOMw_drMDE" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>

      </div>
      <label>2. මයික්‍රෝ මීටරය</label>

    </div>

    <div class="col-lg-3 col-md-4 col-sm-12">
      <div class="iframe-content-div">
        <iframe width="1126" height="524" src="https://www.youtube.com/embed/OZeYxpMKPo8" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>

      </div>
      <label>3. ගෝල මානය </label>

    </div>
    <div class="col-lg-3 col-md-4 col-sm-12">
      <div class="iframe-content-div">
        <iframe width="1109" height="516" src="https://www.youtube.com/embed/dGlhA-tcXZI" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>

      </div>
      <label>4. චල අන්වීක්ෂය සහ තෙදඩු තුලාව ‍</label>

    </div>

    <div class="col-lg-3 col-md-4 col-sm-12">
      <div class="iframe-content-div">
        <iframe width="1109" height="516" src="https://www.youtube.com/embed/lAXaE1YvzD0" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>

      </div>
      <label>5. දෝෂ සහ දෝෂ නිමානය ‍</label>

    </div>
    <!--<div class="col-lg-3 col-md-4 col-sm-12">-->
    <!--<div class="iframe-content-div">-->
    <!--<iframe width="1033" height="581" src="https://www.youtube.com/embed/wWizutb5nwc" frameborder="0"-->
    <!--allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"-->
    <!--allowfullscreen></iframe>-->

    <!--</div>-->
    <!--<label>6. දෝෂ සහ දෝෂ නිමානය ‍</label>-->

    <!--</div>-->

  </div>
</div>
