<div class="row">
  <div class="col-md-12 topic-div">
    <h3>
      <b>
        අර්ධ සන්නායක දයොඩ සිද්ධාන්ත
      </b>
    </h3>
  </div>
</div>
<div class="home-page-div ">
  <!--<app-temparary-content></app-temparary-content>-->

  <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-12">
      <div class="iframe-content-div">
        <iframe width="1033" height="581" src="https://www.youtube.com/embed/W6CHRuL7HtM" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>

      </div>
      <label>1. අර්ධ සන්නායක</label>

    </div>

    <div class="col-lg-3 col-md-4 col-sm-12">
      <div class="iframe-content-div">
        <iframe width="1033" height="581" src="https://www.youtube.com/embed/U1Tb8cu9JMg" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>

      </div>
      <label>2. p n සන්ධි සහ පෙර නැඹුරුව</label>

    </div>

    <div class="col-lg-3 col-md-4 col-sm-12">
      <div class="iframe-content-div">
        <iframe width="1033" height="581" src="https://www.youtube.com/embed/8m2up_bUQLs" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>

      </div>
      <label>3. p n සන්ධි පසු නැඹුරුව</label>

    </div>
    <div class="col-lg-3 col-md-4 col-sm-12">
      <div class="iframe-content-div">
        <iframe width="1033" height="581" src="https://www.youtube.com/embed/eQnSg_wkcgU" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>

      </div>
      <label>4. ඩයෝඩයක ලාක්ෂණික වක්‍</label>

    </div>

    <div class="col-lg-3 col-md-4 col-sm-12">
      <div class="iframe-content-div">
        <iframe width="1033" height="581" src="https://www.youtube.com/embed/2t8rD_dxL5o" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>

      </div>
      <label>5. සෙනර් ඩයොඩය‍</label>

    </div>
    <div class="col-lg-3 col-md-4 col-sm-12">
      <div class="iframe-content-div">
        <iframe width="1033" height="581" src="https://www.youtube.com/embed/wWizutb5nwc" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>

      </div>
      <label>6. වෝල්ටීයතා ඍජුකරණය‍</label>

    </div>

  </div>
</div>
