<div class="row">
  <div class="col-md-12 topic-div">
    <h3>
      <b>
        2019 Physics ESSAY
      </b>
    </h3>
  </div>
</div>
<div class="home-page-div ">
  <!--<app-temparary-content></app-temparary-content>-->

  <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-12">
      <div class="iframe-content-div">
        <iframe width="805" height="409" src="https://www.youtube.com/embed/T57FywNK7gM" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>

      </div>
      <label>1. 2019 AL question 5 physics essay discussion </label>

    </div>

    <div class="col-lg-3 col-md-4 col-sm-12">
      <div class="iframe-content-div">
        <iframe width="1109" height="556" src="https://www.youtube.com/embed/9Gm08aAw8B4" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
      </div>
      <label>2. 2019 AL question 6 physics essay discussion </label>

    </div>
  </div>
</div>
