<div class="row">
  <div class="col-md-12 topic-div">
    <h3>
      <b>
        ස්ථිති විද්‍යුත් විභවය
      </b>
    </h3>
  </div>
</div>
<div class="home-page-div ">

  <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-12">
      <div class="iframe-content-div">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/0YOGrTNgGhE" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
      </div>
      <label>1 electric field voltage</label>

    </div>
    <div class="col-lg-3 col-md-4 col-sm-12">
      <div class="iframe-content-div">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/A9TDzsnYkHo" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>

      </div>
      <label>2 electric field voltage</label>

    </div>
    <div class="col-lg-3 col-md-4 col-sm-12">
      <div class="iframe-content-div">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/zqGvUbvVQXg" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>

      </div>
      <label>3 electric field voltage</label>

    </div>

  </div>

</div>
