<div class="row">
  <div class="col-md-12 topic-div">
    <h3>
      <b>
        2019 Physics MCQ
      </b>
    </h3>
  </div>
</div>
<div class="home-page-div ">
  <!--<app-temparary-content></app-temparary-content>-->

  <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-12">
      <div class="iframe-content-div">
        <iframe width="1109" height="561" src="https://www.youtube.com/embed/Z0NpbWGtgnM" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>

      </div>
      <label>1. 2019 AL questions(1- 6) physics MCQ discussion </label>

    </div>

    <div class="col-lg-3 col-md-4 col-sm-12">
      <div class="iframe-content-div">
        <iframe width="1109" height="561" src="https://www.youtube.com/embed/6U0qXZbrbfk" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>

      </div>
      <label>2. 2019 AL questions(7- 12) physics MCQ discussion</label>

    </div>

    <div class="col-lg-3 col-md-4 col-sm-12">
      <div class="iframe-content-div">
        <iframe width="1109" height="561" src="https://www.youtube.com/embed/1gek3935Oww" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>

      </div>
      <label>3. 2019 AL questions(13- 17) physics MCQ discussion </label>

    </div>
    <div class="col-lg-3 col-md-4 col-sm-12">
      <div class="iframe-content-div">
        <iframe width="1109" height="561" src="https://www.youtube.com/embed/G3-ufPI1VDI" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>

      </div>
      <label>4. 2019 AL questions(18- 23) physics MCQ discussion</label>

    </div>
    <div class="col-lg-3 col-md-4 col-sm-12">
      <div class="iframe-content-div">
        <iframe width="1109" height="561" src="https://www.youtube.com/embed/0NxzYQ1MJz4" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>

      </div>
      <label>5. 2019 AL questions(24- 25) physics MCQ discussion</label>

    </div>

    <div class="col-lg-3 col-md-4 col-sm-12">
      <div class="iframe-content-div">
        <iframe width="812" height="409" src="https://www.youtube.com/embed/TDHgL5PgXRM" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>

      </div>
      <label>6. 2019 AL questions(26- 30) physics MCQ discussion</label>

    </div>

    <div class="col-lg-3 col-md-4 col-sm-12">
      <div class="iframe-content-div">
        <iframe width="794" height="409" src="https://www.youtube.com/embed/owScExujCok" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>

      </div>
      <label>7. 2019 AL questions(31- 35) physics MCQ discussion</label>

    </div>
    <div class="col-lg-3 col-md-4 col-sm-12">
      <div class="iframe-content-div">
        <iframe width="1109" height="566" src="https://www.youtube.com/embed/7wbdjx92ZG4" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>

      </div>
      <label>8. 2019 AL questions(36-40) physics MCQ discussion</label>

    </div>
    <div class="col-lg-3 col-md-4 col-sm-12">
      <div class="iframe-content-div">
        <iframe width="920" height="581" src="https://www.youtube.com/embed/htV1Bwb4-24" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>

      </div>
      <label>9. 2019 AL questions(41-45) physics MCQ discussion</label>

    </div>
    <div class="col-lg-3 col-md-4 col-sm-12">
      <div class="iframe-content-div">
        <iframe width="920" height="581" src="https://www.youtube.com/embed/IUwj5AtA7-8" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
      </div>
      <label>10. 2019 AL questions(46-50) physics MCQ discussion</label>

    </div>
  </div>
</div>
