<div class="home-page-card-div">
  <a routerLink="/homePageExpand/theoryPage">

    <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
      <div class="card-header">සිද්ධාන්ත</div>
      <div class="card-body">
        <h5 class="card-title"> මිනුම් උපකරණ</h5>
        <h5 class="card-title">ඉලෙක්ට්‍රොනික විද්‍යාව </h5>

      </div>
    </div>
  </a>
  <a routerLink="/homePageExpand/grade12QuestionPage">

    <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
      <div class="card-header">12 ශ්‍රේණිය විසදූ ගැටලු </div>
      <div class="card-body">
        <h5 class="card-title"> දෝලන හා තරංග</h5>
        <h5 class="card-title"> යාන්ත්‍ර විද්‍යාව</h5>

      </div>
    </div>
  </a>
  <a routerLink="/homePageExpand/grade13QuestionPage">

    <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
      <div class="card-header">13 ශ්‍රේණිය විසදූ ගැටලු </div>
      <div class="card-body">
        <h5 class="card-title"> ධාරා විද්‍යුතය</h5>
        <h5 class="card-title">පදාර්ථයේ යාන්ත්‍රික ගුණ</h5>

      </div>
    </div>
  </a>
  <a routerLink="/homePageExpand/paperDiscussionPage">

    <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
      <div class="card-header">ප්‍රශ්ණපත්‍ර සාකච්ඡාව </div>
      <div class="card-body">
        <h5 class="card-title">2019 ප්‍රශ්ණපත්‍ර සාකච්ඡාව</h5>

      </div>
    </div>
  </a>
  <a routerLink="/homePageExpand/paperDownloadPage">

    <div class="card text-white bg-warning mb-3" style="max-width: 18rem;">
      <div class="card-header">පසුගිය විභාග ප්‍රශ්න පත්‍ර</div>
      <div class="card-body">
        <h5 class="card-title"> පසුගිය පාසල් වාර පරීක්ෂණ විභාග ප්‍රශ්න පත්‍ර</h5>
        <h5 class="card-title"> පසුගිය උසස් පෙළ විභාග ප්‍රශ්න පත්‍ර</h5>

      </div>
    </div>
  </a>
  <a routerLink="/homePageExpand/syllabusPage">

    <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
      <div class="card-header">විෂය නිර්දේශය</div>
      <div class="card-body">
        <h5 class="card-title">12-13 ශ්‍රේණිය</h5>

      </div>
    </div>
  </a>
  <a href="https://www.youtube.com/channel/UCKswSgpj6mUz19m_roVglwg/videos" target="_blank">

    <div class="card bg-light mb-3" style="max-width: 18rem;">
      <div class="card-header">YOUTUBE CHANNEL</div>
      <div class="card-body">
        <h5 class="card-title">Subscribe</h5>

      </div>
    </div>
  </a>
  <a routerLink="/homePageExpand/specialQuestionPage">

    <div class="card text-white bg-sub mb-3" style="max-width: 18rem;">
      <div class="card-header">විශේෂ ගැටළු</div>
      <div class="card-body">
        <h5 class="card-title">2019 ප්‍රශ්ණපත්‍ර සාකච්ඡාව</h5>

      </div>
    </div>
  </a>


</div>
