<div class="row">
  <div class="col-md-12 topic-div">
    <h3>
      <b>
        හැදින්වීම
      </b>
    </h3>
  </div>
</div>
<div class="home-page-div ">

  <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-12">
      <div class="iframe-content-div">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/PUZkE1vIvIA" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        <button (click)="viewQuestion(1)">view question</button>
        <button (click)="viewAnswer(1)">view answer</button>
      </div>
      <label>1ddddddddddddddddddddddddd</label>

    </div>
    <div class="col-lg-3 col-md-4 col-sm-12">
      <div class="iframe-content-div">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/OWETRP_eabg" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>

      </div>
      <label>2</label>

    </div>
    <div class="col-lg-3 col-md-4 col-sm-12">
      <div class="iframe-content-div">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/i_CijGuk7fw" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>

      </div>
      <label>3</label>

    </div>
    <div class="col-lg-3 col-md-4 col-sm-12">
      <div class="iframe-content-div">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/uIojjqSm0m4" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>

      </div>
      <label>4</label>

    </div>
    <div class="col-lg-3 col-md-4 col-sm-12">
      <div class="iframe-content-div">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/Hu-JL2J6ncE" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>

      </div>
      <label>5</label>

    </div>
    <div class="col-lg-3 col-md-4 col-sm-12">
      <div class="iframe-content-div">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/RVyHkV3wIyk" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>

      </div>
      <label>6</label>

    </div>
    <div class="col-lg-3 col-md-4 col-sm-12">
      <div class="iframe-content-div">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/yWMKYID5fr8" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>

      </div>
      <label>7</label>

    </div>
    <div class="col-lg-3 col-md-4 col-sm-12">
      <div class="iframe-content-div">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/zstmGnaaaCI" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>

      </div>
      <label>8</label>

    </div>
    <div class="col-lg-3 col-md-4 col-sm-12">
      <div class="iframe-content-div">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/Un5SEJ8MyPc" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>

      </div>
      <label>9</label>

    </div>
    <div class="col-lg-3 col-md-4 col-sm-12">
      <div class="iframe-content-div">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/libKVRa01L8" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>

      </div>
      <label>10</label>

    </div>
    <div class="col-lg-3 col-md-4 col-sm-12">
      <div class="iframe-content-div">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/n2gQs1mcZHA" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>

      </div>
      <label>11</label>

    </div>
    <div class="col-lg-3 col-md-4 col-sm-12">
      <div class="iframe-content-div">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/3PGNTZ4RbuM" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>

      </div>
      <label>12</label>

    </div>

  </div>
</div>
