<div class="row image-sliding-homePage">

  <br>
  <div class="row set-width-div">
      <span class="col-md-5 col-sm-12 video-span-margin">
      <iframe width="280" height="158" src="https://www.youtube.com/embed/MliUVG5JBgw" frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </span>

    <span class="col-md-5  col-sm-12 video-span-margin">
    <iframe width="280" height="158" src="https://www.youtube.com/embed/j_CuKCteoJY" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </span>
    <br>
    <br>
    <br>


  </div>

</div>
