<div class="row">
  <div class="col-md-12 topic-div">
    <h3>
      <b>
        ආරෝපිත වස්තුදෙකක් සම්බන්ධ කිරීම
      </b>
    </h3>
  </div>
</div>
<div class="home-page-div ">

  <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-12">
      <div class="iframe-content-div">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/mdulzEfQXDE" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
      </div>
      <label>1</label>

    </div>
    <div class="col-lg-3 col-md-4 col-sm-12">
      <div class="iframe-content-div">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/zHJkJGBdvwE" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>

      </div>
      <label>2</label>

    </div>
  </div>
</div>
