<div class="row">
  <div class="col-md-12 topic-div">
    <h3>
      <b>
        ද්වාර  සිද්ධාන්ත
      </b>
    </h3>
  </div>
</div>
<div class="home-page-div ">
  <!--<app-temparary-content></app-temparary-content>-->

  <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-12">
      <div class="iframe-content-div">
        <iframe width="803" height="409" src="https://www.youtube.com/embed/Ua8A2bCr0vs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

      </div>
      <label>1. මුලික ද්වාර </label>

    </div>

    <div class="col-lg-3 col-md-4 col-sm-12">
      <div class="iframe-content-div">
        <iframe width="805" height="409" src="https://www.youtube.com/embed/CM0ogdMAeYs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

      </div>
      <label>2. EXOR-ද්වාර</label>

    </div>

    <div class="col-lg-3 col-md-4 col-sm-12">
      <div class="iframe-content-div">
        <iframe width="805" height="409" src="https://www.youtube.com/embed/vS-jGYNPiKo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

      </div>
      <label>3. පරිපථය දී ඇති විට සත්‍යතා සටහන හා සමීකරණය සැදීම </label>

    </div>
    <div class="col-lg-3 col-md-4 col-sm-12">
      <div class="iframe-content-div">
        <iframe width="805" height="409" src="https://www.youtube.com/embed/XPdt2W4h_Z8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

      </div>
      <label>4. සමීකරණය දී ඇති විට  පරිපථය සැදීම</label>

    </div>
    <div class="col-lg-3 col-md-4 col-sm-12">
      <div class="iframe-content-div">
        <iframe width="805" height="409" src="https://www.youtube.com/embed/GYL2YCwqhBI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

      </div>
      <label>5. සත්‍යතා සටහනදී ඇති විට  පරිපථය හා සමීකරණය සැදීම</label>

    </div>
    <div class="col-lg-3 col-md-4 col-sm-12">
      <div class="iframe-content-div">
        <iframe width="805" height="409" src="https://www.youtube.com/embed/mzdZYYHNI3k" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

      </div>
      <label>6. පිළි පොළ - flip flop</label>

    </div>

  </div>
</div>
