<div class="row">
  <div class="col-md-12 topic-div">
    <h3>
      <b>
        චාලක ශක්තිය ,විභව ශක්තිය ,ප්‍රත්‍යස්ථ විභව ශක්තිය
      </b>
    </h3>
  </div>
</div>
<div class="home-page-div ">
  <app-temparary-content></app-temparary-content>

  <!--<div class="row">-->
    <!--<div class="col-lg-3 col-md-4 col-sm-12">-->
      <!--<div class="iframe-content-div">-->
        <!--<iframe width="560" height="315" src="https://www.youtube.com/embed/9YffrCViTVk" frameborder="0"-->
                <!--allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"-->
                <!--allowfullscreen></iframe>-->
        <!--<label>aaaaaaaaa</label>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="col-lg-3 col-md-4 col-sm-12">-->
      <!--<div class="iframe-content-div">-->
        <!--<iframe width="560" height="315" src="https://www.youtube.com/embed/X4t0JxiBeO0" frameborder="0"-->
                <!--allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"-->
                <!--allowfullscreen></iframe>-->
        <!--<label>aaaaaaaaa</label>-->

      <!--</div>-->
    <!--</div>-->
    <!--<div class="col-lg-3 col-md-4 col-sm-12">-->
      <!--<div class="iframe-content-div">-->
        <!--<iframe width="560" height="315" src="https://www.youtube.com/embed/l3N10eGgjh8" frameborder="0"-->
                <!--allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"-->
                <!--allowfullscreen></iframe>-->
        <!--<label>aaaaaaaaa</label>-->

      <!--</div>-->
    <!--</div>-->
    <!--<div class="col-lg-3 col-md-4 col-sm-12">-->
      <!--<div class="iframe-content-div">-->
        <!--<iframe width="560" height="315" src="https://www.youtube.com/embed/Xf_VZ8GxU1Y" frameborder="0"-->
                <!--allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"-->
                <!--allowfullscreen></iframe>-->
        <!--<label>aaaaaaaaa</label>-->
      <!--</div>-->
    <!--</div>-->

  <!--</div>-->
</div>
