<div class="home-page-card-div">

    <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
      <div class="card-header">මිනුම් උපකරණ- THEORY</div>
      <div class="card-body">

        <ul>
          <li><a routerLink="/measurementTheory/instruments"> මිනුම් උපකරණ
          </a>
          </li>

        </ul>
      </div>
    </div>

    <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
      <div class="card-header">ඉලෙක්ට්‍රොනික විද්‍යාව- THEORY</div>
      <div class="card-body">

        <ul>
          <li><a routerLink="/electronicsTheory/diode">අර්ධ සන්නායක දයොඩ
          </a>
          </li>
          <li><a routerLink="/electronicsTheory/transistor">ට්‍රාන්සිස්ටර
          </a>
          </li>
          <li><a routerLink="/electronicsTheory/ic"> සංගෘහිත පරිපථ
          </a>
          </li>
          <li><a routerLink="/electronicsTheory/gate"> ද්වාර
          </a>
          </li>
        </ul>
      </div>
    </div>


</div>
