<div style="height: 70px !important; display: block">
  <app-menu-bar></app-menu-bar>
</div>
<!--<div>-->
<!--<app-nav-bar></app-nav-bar>-->
<!--</div>-->
<div>
  <div class="container-fluid">
    <div class="row container-min-height">
      <div class="col-md-2">
        <app-side-bar></app-side-bar>
      </div>
      <div class="col-md-10 router-view-padding ">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <app-footer></app-footer>
</div>

