.button-padding-div button {
  margin-left: 5px;
  margin-right: 5px;

}

.button-padding-div {
  background: unset !important;
  border: unset !important;
}

@media (max-width: 992px) {
  .topic-div h3 b {
    font-size: 14px;
  }
}

