<div class="home-page-card-div">

    <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
      <div class="card-header">පසුගිය පාසල් වාර පරීක්ෂණ විභාග ප්‍රශ්න පත්‍ර</div>
      <div class="card-body">

        <ul>
          <li><a href="https://drive.google.com/drive/u/1/folders/1mmA7Eg8gyDkL5gVG5xMdX3SNIV2i4HNL"> පසුගියපාසල් වාර පරීක්ෂණ විභාග ප්‍රශ්න පත්‍

            මෙය ක්ලික් කිරීමෙන් ඩවුන්ලෝඩ් කරන්න
          </a>
          </li>

        </ul>
      </div>
    </div>

    <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
      <div class="card-header">පසුගිය උසස් පෙළ විභාග ප්‍රශ්න පත්‍ර</div>
      <div class="card-body">

        <ul>
          <li><a href="https://drive.google.com/drive/u/1/folders/18V43rFkwPO39EPZUQcnhhshRQ3cpFzMz"> පසුගිය උසස් පෙළ විභාග ප්‍රශ්න පත්‍ර

            මෙය ක්ලික් කිරීමෙන් download කරන්න
          </a>
          </li>

        </ul>
      </div>
    </div>


</div>
