<br>
<div class="row">
  <div class="col-md-4">
    <div class="card" style="width: 280px;">
      <img src="../../../assets/2.jpg" class="card-img-top" alt="..." width="280px" height="220px" routerLink="/productDetails">
      <div class="card-body scroll-description">
        <!--<p class="card-text"> {{productRating}}product ratings</p>-->
        <p class="card-text">Bose Frames Audio Sunglasses Alto Style Brand New And Sealed </p>
        <p class="card-text">$169.88</p>
        <p class="card-text">Brand: Bose </p>
      </div>
      <div class="add-to-cart-positioning"><img src="../../../assets/4.png" width="50px" height="50px" alt=""></div>

    </div>
  </div>
  <div class="col-md-4">
    <div class="card" style="width: 280px;">

      <img src="../../../assets/1.jpg" class="card-img-top" alt="..." width="280px" height="220px" routerLink="/productDetails">
      <div class="card-body scroll-description">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          contentSome quick example text to build on the card title and make up the bulk of the card's
          contentSome quick example text to build on the card title and make up the bulk of the card's
          contentSome quick example text to build on the card title and make up the bulk of the card's
          contentSome quick example text to build on the card title and make up the bulk of the card's
          contentSome quick example text to build on the card title and make up the bulk of the card's
          content.</p>
      </div>
      <div class="add-to-cart-positioning"><img src="../../../assets/4.png" width="50px" height="50px" alt=""></div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card" style="width: 280px;">

      <img src="../../../assets/2.jpg" class="card-img-top" alt="..." width="280px" height="220px" routerLink="/productDetails">
      <div class="card-body scroll-description ">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.
        </p>
      </div>
      <div class="add-to-cart-positioning"><img src="../../../assets/4.png" width="50px" height="50px" alt=""></div>

    </div>
  </div>

  <div class="col-md-12">
    <br>
  </div>

  <div class="col-md-4">
    <div class="card" style="width: 280px;">

      <img src="../../../assets/2.jpg" class="card-img-top" alt="..." width="280px" height="220px" routerLink="/productDetails">
      <div class="card-body scroll-description">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
      </div>
      <div class="add-to-cart-positioning"><img src="../../../assets/4.png" width="50px" height="50px" alt=""></div>

    </div>
  </div>
  <div class="col-md-4">
    <div class="card" style="width: 280px;">

      <img src="../../../assets/1.jpg" class="card-img-top" alt="..." width="280px" height="220px" routerLink="/productDetails">
      <div class="card-body scroll-description">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
      </div>
      <div class="add-to-cart-positioning"><img src="../../../assets/4.png" width="50px" height="50px" alt=""></div>

    </div>
  </div>
  <div class="col-md-4">
    <div class="card" style="width: 280px;">

      <img src="../../../assets/1.jpg" class="card-img-top" alt="..." width="280px" height="220px" routerLink="/productDetails">
      <div class="card-body scroll-description">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
      </div>
      <div class="add-to-cart-positioning"><img src="../../../assets/4.png" width="50px" height="50px" alt=""></div>

    </div>
  </div>
  <div class="col-md-12">
    <br>
  </div>
  <div class="col-md-4">
    <div class="card" style="width: 280px;">
      <img src="../../../assets/2.jpg" class="card-img-top" alt="..." width="280px" height="220px" routerLink="/productDetails">
      <div class="card-body scroll-description">
        <!--<p class="card-text"> {{productRating}}product ratings</p>-->
        <p class="card-text">Bose Frames Audio Sunglasses Alto Style Brand New And Sealed </p>
        <p class="card-text">$169.88</p>
        <p class="card-text">Brand: Bose </p>
      </div>
      <div class="add-to-cart-positioning"><img src="../../../assets/4.png" width="50px" height="50px" alt=""></div>

    </div>
  </div>
  <div class="col-md-4">
    <div class="card" style="width: 280px;">

      <img src="../../../assets/1.jpg" class="card-img-top" alt="..." width="280px" height="220px" routerLink="/productDetails">
      <div class="card-body scroll-description">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          contentSome quick example text to build on the card title and make up the bulk of the card's
          contentSome quick example text to build on the card title and make up the bulk of the card's
          contentSome quick example text to build on the card title and make up the bulk of the card's
          contentSome quick example text to build on the card title and make up the bulk of the card's
          contentSome quick example text to build on the card title and make up the bulk of the card's
          content.</p>
      </div>
      <div class="add-to-cart-positioning"><img src="../../../assets/4.png" width="50px" height="50px" alt=""></div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card" style="width: 280px;">

      <img src="../../../assets/2.jpg" class="card-img-top" alt="..." width="280px" height="220px" routerLink="/productDetails">
      <div class="card-body scroll-description ">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.
        </p>
      </div>
      <div class="add-to-cart-positioning"><img src="../../../assets/4.png" width="50px" height="50px" alt=""></div>

    </div>
  </div>

  <div class="col-md-12">
    <br>
  </div>
  <div class="col-md-4">
    <div class="card" style="width: 280px;">
      <img src="../../../assets/2.jpg" class="card-img-top" alt="..." width="280px" height="220px" routerLink="/productDetails">
      <div class="card-body scroll-description">
        <!--<p class="card-text"> {{productRating}}product ratings</p>-->
        <p class="card-text">Bose Frames Audio Sunglasses Alto Style Brand New And Sealed </p>
        <p class="card-text">$169.88</p>
        <p class="card-text">Brand: Bose </p>
      </div>
      <div class="add-to-cart-positioning"><img src="../../../assets/4.png" width="50px" height="50px" alt=""></div>

    </div>
  </div>
  <div class="col-md-4">
    <div class="card" style="width: 280px;">

      <img src="../../../assets/1.jpg" class="card-img-top" alt="..." width="280px" height="220px" routerLink="/productDetails">
      <div class="card-body scroll-description">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          contentSome quick example text to build on the card title and make up the bulk of the card's
          contentSome quick example text to build on the card title and make up the bulk of the card's
          contentSome quick example text to build on the card title and make up the bulk of the card's
          contentSome quick example text to build on the card title and make up the bulk of the card's
          contentSome quick example text to build on the card title and make up the bulk of the card's
          content.</p>
      </div>
      <div class="add-to-cart-positioning"><img src="../../../assets/4.png" width="50px" height="50px" alt=""></div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card" style="width: 280px;">

      <img src="../../../assets/2.jpg" class="card-img-top" alt="..." width="280px" height="220px" routerLink="/productDetails">
      <div class="card-body scroll-description ">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.
        </p>
      </div>
      <div class="add-to-cart-positioning"><img src="../../../assets/4.png" width="50px" height="50px" alt=""></div>

    </div>
  </div>


  <div class="col-md-12">
    <br>
  </div>

  <div class="col-md-12">
    <nav aria-label="Page navigation example ">
      <ul class="pagination ">
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="">1</a></li>
        <li class="page-item"><a class="page-link" href="">2</a></li>
        <li class="page-item"><a class="page-link" href="">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#">Next</a>
        </li>
      </ul>
    </nav>
  </div>
</div>

