<div class="row">
  <div class="col-sm-1 col-3">
    <span class="menu-bar-image">
      <img src="../../../assets/physics2.jpg" alt="">
    </span>
  </div>
  <div class="col-sm-9 col-7">
    <h2 class="web-view-responsive">
      <b>Advanced Level Physics</b>
    </h2>
    <span class="mobile-view-responsive menu-bar-heading-text">
      <b>Advanced Level Physics</b>
    </span>
  </div>
  <div class="col-sm-2 col-2">
    <b style="position: relative; float: right; display: inline-block;" class="menu-bar-heading-text">
      <a href="https://myappmaker.io/physics_teacher"
         target="_self"
         style="color: white">
        Home
      </a>
    </b>
  </div>
</div>
