<div class="row menu-bar-background-image">
  <div class="col-sm-10 col-10">
    <h2 class="web-view-responsive menu-bar-heading-text">
      <a href="/" class="menu-bar-home-page">
        <b>Advanced Level Physics</b>
      </a>
    </h2>
    <span class="mobile-view-responsive menu-bar-heading-text">
      <a href="/" class="menu-bar-home-page">
        <b>Advanced Level Physics</b>
      </a>
    </span>
  </div>
  <div class="col-sm-2 col-2">
    <b style="position: relative; float: right; display: inline-block;" class="menu-bar-heading-text">
      <a href="https://myappmaker.io/physics_teacher"
         class="menu-bar-home-page"
         target="_self"
      >
        App
      </a>


    </b>
  </div>
</div>
