.menubar{
  background-color: antiquewhite;
}
.margin-btn-menu-bar{
  margin: 0 0 0 10px;
}
.nav-bar-padding{
  padding: 0px 10px!important;
}
.menu-main-text{
  font-family: Comic Sans, Comic Sans MS, cursive;
}
