<div>
  <p>Brand</p>
  <div class="form-group form-check">

    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <div class="form-group form-check">

    <input type="checkbox" class="form-check-input" id="exampleCheck2">
    <label class="form-check-label" for="exampleCheck2">Check me out</label>
  </div>
  <div class="form-group form-check">

    <input type="checkbox" class="form-check-input" id="exampleCheck3">
    <label class="form-check-label" for="exampleCheck3">Check me out</label>
  </div>
  <div class="form-group form-check">

    <input type="checkbox" class="form-check-input" id="exampleCheck4">
    <label class="form-check-label" for="exampleCheck4">Check me out</label>
  </div>
</div>
