<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 temporary-construction-text">
    දැනට වෙබ් අඩවියේ සමහර කොටස් ඉදිවෙමින් පවතී.
    එම නිසා සිදු වූ අපහසුතාවයට කණගාටුයි.
  </div>
  <!--<div class="col-lg-3 col-md-4 col-sm-12">-->
  <!--<div class="iframe-content-div">-->
  <!--<iframe width="560" height="315" src="https://www.youtube.com/embed/PUZkE1vIvIA" frameborder="0"-->
  <!--allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"-->
  <!--allowfullscreen></iframe>-->
  <!--</div>-->
  <!--<div class="button-padding-div">-->
  <!--<button type="button" class="btn btn-primary" (click)="openModelImage(1,'question')">view question</button>-->
  <!--<button type="button" class="btn btn-success" (click)="openModelImage(1,'answer')">view answer</button>-->
  <!--</div>-->

  <!--<label>temporary content</label>-->

  <!--</div>-->
  <!--<div class="col-lg-3 col-md-4 col-sm-12">-->
  <!--<div class="iframe-content-div">-->
  <!--<iframe width="560" height="315" src="https://www.youtube.com/embed/OWETRP_eabg" frameborder="0"-->
  <!--allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"-->
  <!--allowfullscreen></iframe>-->

  <!--</div>-->
  <!--<div class="button-padding-div">-->
  <!--<button type="button" class="btn btn-primary" (click)="openModelImage(1,'question')">view question</button>-->
  <!--<button type="button" class="btn btn-success" (click)="openModelImage(1,'answer')">view answer</button>-->
  <!--</div>-->
  <!--<label>temporary content</label>-->

  <!--</div>-->
  <!--<div class="col-lg-3 col-md-4 col-sm-12">-->
  <!--<div class="iframe-content-div">-->
  <!--<iframe width="560" height="315" src="https://www.youtube.com/embed/i_CijGuk7fw" frameborder="0"-->
  <!--allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"-->
  <!--allowfullscreen></iframe>-->

  <!--</div>-->
  <!--<div class="button-padding-div">-->
  <!--<button type="button" class="btn btn-primary" (click)="openModelImage(1,'question')">view question</button>-->
  <!--<button type="button" class="btn btn-success" (click)="openModelImage(1,'answer')">view answer</button>-->
  <!--</div>-->
  <!--<label>temporary content</label>-->

  <!--</div>-->
  <!--<div class="col-lg-3 col-md-4 col-sm-12">-->
  <!--<div class="iframe-content-div">-->
  <!--<iframe width="560" height="315" src="https://www.youtube.com/embed/uIojjqSm0m4" frameborder="0"-->
  <!--allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"-->
  <!--allowfullscreen></iframe>-->
  <!--</div>-->
  <!--<div class="button-padding-div">-->
  <!--<button type="button" class="btn btn-primary" (click)="openModelImage(1,'question')">view question</button>-->
  <!--<button type="button" class="btn btn-success" (click)="openModelImage(1,'answer')">view answer</button>-->
  <!--</div>-->
  <!--<label>temporary content</label>-->

  <!--</div>-->
  <!--<div class="col-lg-3 col-md-4 col-sm-12">-->
  <!--<div class="iframe-content-div">-->
  <!--<iframe width="560" height="315" src="https://www.youtube.com/embed/Hu-JL2J6ncE" frameborder="0"-->
  <!--allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"-->
  <!--allowfullscreen></iframe>-->
  <!--</div>-->
  <!--<div class="button-padding-div">-->
  <!--<button type="button" class="btn btn-primary" (click)="openModelImage(1,'question')">view question</button>-->
  <!--<button type="button" class="btn btn-success" (click)="openModelImage(1,'answer')">view answer</button>-->
  <!--</div>-->
  <!--<label>temporary content</label>-->

  <!--</div>-->
  <!--<div class="col-lg-3 col-md-4 col-sm-12">-->
  <!--<div class="iframe-content-div">-->
  <!--<iframe width="560" height="315" src="https://www.youtube.com/embed/RVyHkV3wIyk" frameborder="0"-->
  <!--allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"-->
  <!--allowfullscreen></iframe>-->
  <!--</div>-->
  <!--<div class="button-padding-div">-->
  <!--<button type="button" class="btn btn-primary" (click)="openModelImage(1,'question')">view question</button>-->
  <!--<button type="button" class="btn btn-success" (click)="openModelImage(1,'answer')">view answer</button>-->
  <!--</div>-->
  <!--<label>temporary content</label>-->

  <!--</div>-->
  <!--<div class="col-lg-3 col-md-4 col-sm-12">-->
  <!--<div class="iframe-content-div">-->
  <!--<iframe width="560" height="315" src="https://www.youtube.com/embed/yWMKYID5fr8" frameborder="0"-->
  <!--allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"-->
  <!--allowfullscreen></iframe>-->
  <!--</div>-->
  <!--<div class="button-padding-div">-->
  <!--<button type="button" class="btn btn-primary" (click)="openModelImage(1,'question')">view question</button>-->
  <!--<button type="button" class="btn btn-success" (click)="openModelImage(1,'answer')">view answer</button>-->
  <!--</div>-->
  <!--<label>temporary content</label>-->

  <!--</div>-->
  <!--<div class="col-lg-3 col-md-4 col-sm-12">-->
  <!--<div class="iframe-content-div">-->
  <!--<iframe width="560" height="315" src="https://www.youtube.com/embed/zstmGnaaaCI" frameborder="0"-->
  <!--allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"-->
  <!--allowfullscreen></iframe>-->
  <!--</div>-->
  <!--<div class="button-padding-div">-->
  <!--<button type="button" class="btn btn-primary" (click)="openModelImage(1,'question')">view question</button>-->
  <!--<button type="button" class="btn btn-success" (click)="openModelImage(1,'answer')">view answer</button>-->
  <!--</div>-->
  <!--<label>temporary content</label>-->

  <!--</div>-->
  <!--<div class="col-lg-3 col-md-4 col-sm-12">-->
  <!--<div class="iframe-content-div">-->
  <!--<iframe width="560" height="315" src="https://www.youtube.com/embed/Un5SEJ8MyPc" frameborder="0"-->
  <!--allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"-->
  <!--allowfullscreen></iframe>-->
  <!--</div>-->
  <!--<label>temporary content</label>-->

  <!--</div>-->
  <!--<div class="col-lg-3 col-md-4 col-sm-12">-->
  <!--<div class="iframe-content-div">-->
  <!--<iframe width="560" height="315" src="https://www.youtube.com/embed/libKVRa01L8" frameborder="0"-->
  <!--allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"-->
  <!--allowfullscreen></iframe>-->
  <!--</div>-->
  <!--<label>temporary content</label>-->

  <!--</div>-->
  <!--<div class="col-lg-3 col-md-4 col-sm-12">-->
  <!--<div class="iframe-content-div">-->
  <!--<iframe width="560" height="315" src="https://www.youtube.com/embed/n2gQs1mcZHA" frameborder="0"-->
  <!--allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"-->
  <!--allowfullscreen></iframe>-->
  <!--</div>-->
  <!--<label>temporary content</label>-->

  <!--</div>-->
  <!--<div class="col-lg-3 col-md-4 col-sm-12">-->
  <!--<div class="iframe-content-div">-->
  <!--<iframe width="560" height="315" src="https://www.youtube.com/embed/3PGNTZ4RbuM" frameborder="0"-->
  <!--allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"-->
  <!--allowfullscreen></iframe>-->
  <!--</div>-->
  <!--<label>temporary content</label>-->
  <!--</div>-->
</div>
<ngx-smart-modal #myModal identifier="myModal">
  <h1>{{modelTitle}}</h1>
  <div *ngFor="let imgUrl of imageUrls">
    <img src={{imgUrl}} alt="" style="width: 100%; height: 100%;">
    <br>
  </div>

  <button (click)="myModal.close()">Close</button>
</ngx-smart-modal>
