@import "~ngx-smart-modal/ngx-smart-modal.css";
@import "app/common.css";
html, body {
  height: 100%;
}

body .row {
  margin-left: 0px;
  margin-right: 0px;
}

body .container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

@media (max-width: 992px) {
  .web-view-responsive {
    display: none !important;
  }

  .mobile-view-responsive {
    display: block !important;
  }
}

.web-view-responsive {
  display: block;
}

.mobile-view-responsive {
  display: none;
}

@media (max-width: 992px) {
  custom-col-1 {
    display: inline-block;
    width: 8.33% !important;
  }

  custom-col-2 {
    display: inline-block;
    width: 16.66% !important;
  }

  custom-col-3 {
    display: inline-block;
    width: 25% !important;
  }

  custom-col-4 {
    display: inline-block;
    width: 33.3% !important;
  }

  custom-col-5 {
    display: inline-block;
    width: 41.66% !important;
  }

  custom-col-6 {
    display: inline-block;
    width: 50% !important;
  }

  custom-col-7 {
    display: inline-block;
    width: 58.33% !important;
  }

  custom-col-8 {
    display: inline-block;
    width: 66.66% !important;
  }

  custom-col-9 {
    display: inline-block;
    width: 75% !important;
  }

  custom-col-10 {
    display: inline-block;
    width: 83.33% !important;
  }

  custom-col-11 {
    display: inline-block;
    width: 91.66% !important;
  }

  custom-col-12 {
    display: inline-block;
    width: 100% !important;
  }

}

@media (min-width: 993px) {

}

.home-page-div div div div{
  padding: 5px 5px;
  margin: 15px 0;
  border: white solid 0.5px;
  background-color: aliceblue;
}
.iframe-content-div iframe{
  width: 100%;
  height: 100%;
}
.home-page-div{
  background-color: black;
  color: white;

}

.topic-div{
  text-align: center !important;
}

.nsm-dialog{
  max-width: 1000px ;
}
.nsm-content{
  margin-left: 0.5rem !important;
  margin-right: 0.5rem !important;
}
